<div class="container">
  <lib-ngx-full-grid
    #grid
    [values]="data"
    [enableSorting]="true"
    (selectedItemsChange)="onSelectItem($event)"
    [(selectedItems)]="selectedItems"
    [backendFilter]="false"
    [filterMode]="'startWith'"
    [enableFilter]="true"
    [enableReorder]="true"
    [enableResize]="true"
    [checkSelectFnt]="isSelect"
    [(state)]="state"
    (stateChange)="onStateChange($event)"
    (paramsChange)="onParamsChange($event)"
  >
    <lib-custom-column
    columns
      [grid]="grid"
      [property]="'name.first'"
      [headerTemplate]="header"
      [cellTemplate]="firstNameTemplate"
    >
      <ng-template #header let-column="column"> {{ column.property }} </ng-template>

      <ng-template
        #firstNameTemplate
        let-value="value"
        let-item="item"
        let-index="index"
        let-column="column"
      >
        <!-- <pre>{{ column | json }}</pre> -->
        <span>{{ value }}</span>
      </ng-template>
    </lib-custom-column>
    <!-- <lib-custom-column
      [grid]="grid"
      [property]="'picture.thumbnail'"
      [cellTemplate]="avatarTemplate"
    >
      <ng-template #avatarTemplate let-value="value" let-column="column">
        <p style="text-align: center"><img [src]="value" /></p>
      </ng-template>
    </lib-custom-column> -->
  </lib-ngx-full-grid>
</div>
<ul>
  <li *ngFor="let column of state.columns">
    <mat-checkbox (change)="onChange(column)" [checked]="column.visible"
      >{{ column.name }} {{ column.width }}
    </mat-checkbox>
  </li>
</ul>

<pre>{{ selectedItems.length }}</pre>
