<lib-ngx-full-grid
  [values]="data"
  [enableSorting]="true"
  (selectChange)="onSelectItem($event)"
  [selectedItems]="selectedItems"
  [backendFilter]="false"
  [filterMode]="'startWith'"
  [enableFilter]="true"
  [enableReorder]="true"
  [enableResize]="true"
  [checkSelectFnt]="isSelect"
  [(state)]="state"
  (stateChange)="onStateChange($event)"
  (filterChange)="onFilterChange($event)"
>
</lib-ngx-full-grid>

<ul>
  <li *ngFor="let column of state.columns">
    <mat-checkbox (change)="onChange(column)" [checked]="column.visible">{{
      column.name
    }}</mat-checkbox>
  </li>
</ul>

<button (click)="addData()">add</button>
<pre>{{ selectedItems | json }}</pre>
